<div class="wrap flex jc-c">
  <section class="user-wall">
    <app-post-form></app-post-form>
    <section class="wall-header flex row jc-sb">
      <div data-container="post-switches">
        <button data-action="loadAll" data-state="active">All posts</button>
        <button data-action="loadByMe" data-state="inactive">
          Written by me
        </button>
      </div>
      <form action="" method="get" class="search-form flex col jc-c">
        <input
          type="search"
          name="search_field"
          placeholder="Search for people and groups"
          autocomplete="off"
        />
      </form>
    </section>
    <app-post [isOnWall]="true"></app-post>
  </section>
</div>
