<main>
    <router-outlet></router-outlet>
    <section class="chat flex jc-c ai-c">
        <p class="select-chat-label">Select a chat to start messaging</p>
    </section>
    <section class="messenger">
        <section class="messenger-header flex fd-r ai-c">
            <form action="" method="get" class="search-box" >
                <input type="search" name="search" placeholder="Search for people and groups" />
            </form>
            <button class="new-chat-btn square-32 round r-22"></button>
        </section>
        <ng-container *ngIf="chats; else loading">
            <section *ngFor="let chat of chats">
                <a 
                    [routerLink]="chat.withUser ? ['chat', chat.withUser?.id] : ['chat', me.id]" 
                    routerLinkActive="is-active"
                    class="chat-item flex fd-r ai-c"
                >
                    <div class="avatar-box square-48">
                        <img 
                            [src]="chat.withUser?.currentAvatarPath || '../../assets/images/saved-messages.jpg'"
                            class="square-48"
                            alt="user"
                        >
                    </div>
                    <div class="message-wrap flex fd-c">
                        <div class="source-name">{{ chat.withUser?.name || 'Saved Messages' }}</div>
                        <div *ngIf="chat.messagesDTO[0]" class="last-message flex fd-r ai-c">
                            <div class="avatar-box square-24">
                                <img 
                                    [src]="chat.messagesDTO[0].author?.currentAvatarPath" 
                                    class="square-24" 
                                    alt="user"
                                >
                            </div>
                            <div class="message-text">{{ chat.messagesDTO[0].text }}</div>
                        </div>
                    </div>
                </a>
            </section>
        </ng-container>
        <ng-template #loading>
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
        </ng-template>
    </section>
</main>