<main>
    <section class="users-header">
        <div class="header-content flex fd-c ai-s jc-sb">
            <div class="flex fd-c ai-c">
                <div class="source-name">st. Algernon</div>
                <div class="nick-name">@st.algernon</div>
            </div>
            <div class="user-switches flex fd-r" data-container="user-switches">
                <button [routerLink]="['/', username, 'followers']" data-state="active">Followers</button>
                <button [routerLink]="['/', username, 'following']" data-state="inactive">Following</button>
            </div>
        </div>
    </section>
    <section class="user-list">
            <div *ngFor="let user of followers" class="user flex fd-c">
                <div class="flex fd-r jc-sb ai-c">
                    <div class="avatar-box square-40">
                        <img [src]="user.currentAvatarPath" alt="avatar">
                    </div>
                    <div class="flex fd-c fg-1">
                        <div class="source-name">{{ user.name }}</div>
                        <div class="nick-name">@{{ user.username }}</div>
                    </div>
                    <button class="btn btn-outlined">Follow</button>
                </div>
                <div class="bio">{{ user.bio }}</div>
            </div>
        <ng-template #loading>
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
        </ng-template>
    </section>
</main>
<div class="right-col">
    <app-trends></app-trends>
    <app-follow-offers></app-follow-offers>
</div>