.post {
	background: #fff;
	border-radius: 15px;
	padding: 12px 16px;
	color: #272727;
	margin-bottom: 10px;
	cursor: pointer;
}

.post .post-header .avatar-box {
	margin-right: 10px;
}

.post-header .source-name {
    font-family: 'Deezer', 'Open Sans', sans-serif;
}

.post-header .nick-name {
	font-size: 14px;
}

.post .post-body {
	margin: 10px 0px 8px 0px;
}

/* .post-body .photos-container {
	margin-top: 8px;
} */

.post .post-footer {
	position: relative;
}

.post-footer .content-actions {
	flex-basis: 200px;
}

.post-footer .published-date {
	font-size: 14px;
	color: #777;
}

.post .comments-section {
	border-top: 1px solid #f1f1f1;
	margin-top: 5px;
	padding-top: 10px;
}

.comment-section .comments-container {

}

.comments-container .comment {
	margin-bottom: 5px;
}

.comment .comment-header-body-wrapper {
	background-color: #f5f5f5;
	border-radius: 15px;
	padding: 8px 12px;
	margin: 0px 6px 0px 10px;
}

/* .comment .comment-body .media-box {
	width: 50%;
	border-radius: 10px;
	overflow: hidden;
}

.comment-body .media-box img {
	object-fit: cover;
	object-position: center;
	width: 40%;
	max-height: 100px;
	flex-grow: 1;
	margin: 0px 1px 1px 0px;
}

.comment-body .media-box img:first-of-type {
	max-height: 200px;
} */

.comment .comment-footer {
	padding: 0px 60px 0px 20px;
}

.comment-footer .replay-btn {
	font-size: 14px;
	font-weight: bold;
	color: #444;
	cursor: pointer;
}

.comment-footer .published-date {
	font-size: 14px;
	color: #777;
}

.comments-section .show-more-btn {
	text-align: center;
	color: #7f7f7f;
	cursor: pointer;
}

.comments-section .show-more-btn:hover {
	text-decoration: underline;
}

.comment-maker form {
	width: 100%;
}

.comment-maker .textarea-attach-wrapper {
	width: 100%;
	border-radius: 15px;
	border: 1px solid #F0F0F0;
	margin: 0px 10px;
}

.comment-maker textarea {
	font-size: 16px;
	height: 22px;
	padding: 0px 10px;
}

.comment-maker .attach .add-picture-btn {
	background-image: url(../../../../assets/images/picture.png);
}

.comment-maker .attach .add-music-btn {
	background-image: url(../../../../assets/images/add-music.png);
}

.comment-maker .attach .add-video-btn {
	background-image: url(../../../../assets/images/add-video.png);
}

.comment-maker .attach .add-emoji-btn {
	position: relative;
	background-image: url(../../../../assets/images/emoji.png);
}


.comment-maker .submit-btn {
	background-image: url(../../../../assets/images/send-disable.png);
	background-repeat: no-repeat;
	background-color: transparent;
	background-size: contain;
	border: none;
	outline: none;
	cursor: pointer;
}

.comment-maker .submit-btn.active {
	background-image: url(../../../../assets/images/send.png);
}

.content-actions {
	list-style: none;
}

.content-actions .like-btn {
	background-image: url(../../../../assets/images/heart.png);
	margin-right: 5px;
}

.content-actions .like-btn:hover {
	background-image: url(../../../../assets/images/heart-hover.png);
	background-color: #FFDCDD;
}

.content-actions .like-btn.clicked {
	background-image: url(../../../../assets/images/heart-click.png);
}

.content-actions .like-btn:hover ~ .count-likes,
.content-actions .like-btn.clicked ~ .count-likes {
	color: #f44336;
}

.content-actions .forward-btn {
	background-image: url(../../../../assets/images/forward.png);
	margin-right: 5px;
}

.content-actions .forward-btn:hover {
	background-image: url(../../../../assets/images/forward-hover.png);
	background-color:#D5EFFF;
}

.content-actions .forward-btn.clicked {
	background-image: url(../../../../assets/images/forward-click.png);
}

.content-actions .forward-btn.clicked ~ .count-forwards,
.content-actions .forward-btn:hover ~ .count-forwards {
	color: #1da1f2;
}

.content-actions .comment-btn {
	background-image: url(../../../../assets/images/comment.png);
}

.content-actions .comment-btn:hover {
	background-image: url(../../../../assets/images/comment-hover.png);
	background-color:#D5EFFF;
}

.content-actions .count {
	font-size: 14px;
	color: #444;
}
