    <section [routerLink]="['/', author.username, 'post', post.id]" class="post">
        <div class="post-header flex ai-c">
            <div class="avatar-box square-48">
                <img 
                    [src]="author.avatarPath"
                    class="square-48"
                    alt=""
                >
            </div>
            <div class="flex fd-c">
                <span class="source-name">{{ author.name }}</span>
                <span class="nick-name">@{{ author.username }}</span>
            </div>
        </div>
        <div class="post-body">
            <div #textContainer class="post-text"></div>
            <app-photos-container 
                *ngIf="post.mediaDTOs.length > 0"
                [photos]="post.mediaDTOs"
                size="large"
            ></app-photos-container>
        </div>
        <div class="post-footer flex fd-r jc-sb ai-c">
            <ul class="content-actions flex fd-r jc-sb">
                <li class="flex ai-c">
                    <span class="like-btn round r-20 square-32" (click)="likePost()"></span>
                    <span 
                        *ngIf="post.likesNumber != 0"
                        class="count count-likes"
                    >{{ post.likesNumber }}</span>
                </li>
                <li class="flex ai-c">
                    <span class="forward-btn round r-20 square-32"></span>
                    <!-- <span class="count count-forwards" data-state="">2</span> -->
                </li>
                <li class="flex fd-r">
                    <span class="comment-btn round r-20 square-32"></span>
                </li>
            </ul>
            <div *ngIf="isToday()" class="published-date">{{ post.creationDate | date:'shortTime':'':'uk'}}</div>
            <div *ngIf="isToday() == false" class="published-date">{{ post.creationDate | date:'mediumDate':'':'uk'}}</div>
        </div>

        <div class="comments-section">
            <div 
              *ngIf="commentsBehavior == 'best' || commentsBehavior == 'all'"
              class="comments-container"
            >
                <div class="comment flex ai-fs">
                    <div class="comment-author-avatar">
                        <div class="avatar-box square-32">
                            <img 
                                src="../../../../assets/images/empty_photo.jpg"
                                class="square-32"
                                alt=""
                            >
                        </div>
                    </div>
                    <div class="flex fd-c">
                        <div class="flex ai-c">
                            <div class="comment-header-body-wrapper">
                                <div class="comment-header">
                                    <div class="flex fd-c">
                                        <span class="source-name">Mr. Algernon</span>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p class="comment-text">i'm waiting <a href="#" class="hashtag">#rickandmorty</a></p>
                                    <!-- <div class="media-box flex fd-r wrapper">
                                        <img src="../../../../assets/images/zhdun.jpg" alt="">
                                    </div> -->
                                </div>
                            </div>
                            <div class="content-actions" data-container="content-actions">
                                <div class="flex ai-c">
                                    <span class="like-btn round r-20 square-28" data-action="like" data-state=""></span>
                                    <span class="count count-likes" data-state="">2</span>
                                </div>
                            </div>
                        </div>
                        <div class="comment-footer flex jc-sb">
                            <span class="replay-btn">Replay</span>
                            <span class="published-date">yesterday at 5:07 pm</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="show-more-btn">show more comments</div> -->
            </div>

            <div class="comment-maker flex fd-r">
                <div class="avatar-box square-32">
                    <img 
                        [src]="me.avatarPath"
                        class="square-32"
                    >
                </div>
                <form action="" method="post" class="flex fd-r ai-c">
                    <div class="textarea-attach-wrapper flex fd-r ai-c">
                        <textarea name="comment-field" placeholder="Leave a comment..." data-submit-btn="blink"></textarea>
                        <ul class="attach flex fd-r jc-sb" data-container="attach">
                            <li class="add-picture-btn round r-18 square-28" data-action="picture">
                                <input type="file" name="picture" class="hidden"/>
                            </li>
                            <!-- <li class="add-music-btn round r-18 square-28" data-action="music">
                                <input type="file" name="music" class="hidden"/>
                            </li>
                            <li class="add-video-btn round r-20 square-28" data-action="video">
                                <input type="file" name="video" class="hidden"/>
                            </li> -->
                            <li class="add-emoji-btn round r-20 square-28" data-action="emoji"></li>
                        </ul>
                    </div>
                    <button type="submit" class="submit-btn square-32" data-state="unable"></button>
                </form>
            </div>
        </div>
</section>