.follow-offers {
    border-radius: 15px;
    background-color: #f3f7fa;
}

.follow-offers-header,
.follow-offers-body > .follow-offer-item,
.follow-offers-footer > a {
    padding: 8px 16px;
}

.follow-offers-header {
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1px solid #e6eef5;
    color: #222;
    font-family: 'Deezer', 'Open-sans', sans-serif;
}

.follow-offers-body .follow-offer-item {
    border-bottom: 1px solid #e6eef5;
}

.follow-offers-body .follow-offer-item:last-of-type {
    border-bottom: none;
}

.follow-offer-item .source-name,
.follow-offer-item .nick-name {
	padding-left: 12px;
    max-width: 180px;
    overflow: hidden;
}

.follow-offer-item .bio {
	font-size: 14px;
	max-height: 40px;
	overflow: hidden;
	color: #333;
	padding: 5px 5px 0px 12px;
}

.follow-offers-footer {
    border-top: 1px solid #e6eef5;
}

.follow-offers-footer > a {
    display: block;
    cursor: pointer;
}