<main>
    <section class="users-header flex fd-c ai-s jc-sb">
        <button class="back-btn">Back</button>
        <div class="flex fd-c ai-c">
            <div class="source-name">st. Algernon</div>
            <div class="nick-name">@st.algernon</div>
        </div>
        <div class="user-switches flex fd-r" data-container="user-switches">
            <button data-action="loadFollowers" data-state="inactive">Followers</button>
            <button data-action="loadFollowing" data-state="active">Following</button>
        </div>
    </section>
    <section class="user-list">
        <div class="user flex fd-r">
            <div class="avatar-box square-28">
                <img src="../../../assets/images/авка.jpg" alt="avatar">
            </div>
            <div class="flex fd-c ai-c">
                <div class="source-name">st. Algernon</div>
                <div class="nick-name">@st.algernon</div>
            </div>
            <button>Unfollow</button>
        </div>
    </section>
</main>