:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    width: 47%;
	min-height: calc(100% - 54px);
	position: absolute;
	top: 54px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 15px 15px 0px 0px;
}

.users-header {
	position: fixed;
	width: 47%;
	background-color: rgb(230, 236, 240);
}

.users-header .header-content {
	margin-top: 10px;
	border-radius: 15px 15px 0px 0px;
	height: 95px;
	padding-top: 8px;
	background: #fff;
}

.users-header .back-btn {
	position: absolute;
	left: 10px;
	top: 18px;
	padding: 5px 20px;
	color: #7f7f7f;
	font-size: 16px;
	background: url(../../../assets/images/back.png) left center no-repeat;
	background-size: 15px;
}

.users-header .back-btn:hover {
	color: #1da1f2;
	background: url(../../../assets/images/back-hover.png) left center no-repeat;	
	background-size: 15px;
}

.users-header .user-switches button {
	box-sizing: border-box;
	width: 50%;
	padding: 10px;
	outline: none;
	font-size: 15px;
}

.users-header button[data-state="active"] {
	color: #1da1f2;
	border-bottom: 2px solid #1da1f2;
}

.users-header button[data-state="active"]:hover {
	background-color: #E3F4FF;
}

.users-header button[data-state="inactive"] {
	color: #aaa;
	border-bottom: 1px solid #ddd;
}

.users-header button[data-state="inactive"]:hover {
	color: #1da1f2;
	background-color: #E3F4FF;
}

.user-list {
    margin-top: 115px;
}

.users-viewport {
	display: contents;
}

.user-list .user {
    padding: 10px 0px 5px 0px;
	margin: 0px 15px;
	border-bottom: 1px solid #ddd;
}

.user .source-name {
	padding-left: 12px;
}

.user .nick-name {
	padding-left: 12px;
}

.user .bio {
	font-size: 14px;
	max-height: 40px;
	overflow: hidden;
	color: #333;
	padding: 5px 5px 0px 52px;
}
