<section class="make-post-box flex fd-r jc-sb ai-fs">
    <span class="avatar-box square-48">
        <img
            *ngIf="me" 
            [src]="me.avatarPath" 
            class="square-48"
            alt="photo"
        >
    </span>
    <form id="new-post-form">
        <textarea 
            name="post-text"
            rows="1"
            placeholder="What's new?"
            (input)="resize($event)"
            [(ngModel)]="text"
        ></textarea>
        <div class="make-post-footer flex fd-r ai-fe jc-sb">
            <ul class="attach flex fd-r jc-sb">
                <li class="add-picture-btn round r-20 square-28">
                    <input type="file" name="pictures[]" class="hidden" multiple/>
                </li>
                <li class="add-music-btn round r-20 square-28">
                    <input type="file" name="music" class="hidden"/>
                </li>
                <li class="add-video-btn round r-22 square-28">
                    <input type="file" name="video" class="hidden"/>
                </li>
                <li class="add-emoji-btn round r-22 square-28" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">
                    <!-- <emoji-mart 
                        class="emoji-mart" 
                        *ngIf="isEmojiPickerVisible" 
                        (emojiSelect)="addEmoji($event)" 
                        title="Choose your emoji"
                        color="#1da1f2"
                        [style]="position: absolute;"
                    ></emoji-mart> -->
                </li>
            </ul>
            <button type="submit" class="submit-btn">Post</button>
        </div>
    </form>
</section>