<div [routerLink]="'/' + user.username" *ngFor="let user of following" class="user-item">
    <div class="user-wrapper">
        <div class="flex fd-r jc-sb ai-c">
            <div class="avatar-box square-40">
                <img 
                *ngIf="user.avatarPath; else default_avatar"
                [src]="user.avatarPath"
                alt="avatar"
                class="square-40"
                >
                <ng-template #default_avatar>
                    <img src="../../../../assets/images/default-avatar.jpg" class="square-40" alt="default-avatar">
                </ng-template>
            </div>
            <div class="flex fd-c fg-1">
                <div class="source-name">{{ user.name }}</div>
                <div class="nick-name">@{{ user.username }}</div>
            </div>
            <button 
                (mouseover)="changeTitleToUnfollow($event)"
                (mouseout)="changeTitleToUnfollow($event)"
                class="btn btn-sm btn-filled"
            >Відстежується</button>
        </div>
    </div>
</div>
  
<app-loader *ngIf="!following"></app-loader>