<section class="post">
    <div class="post-header flex ai-c">
        <div class="avatar-box square-48">

        </div>
        <div class="flex fd-c">
            <span class="empty source-name blink"></span>
            <span class="empty nick-name blink"></span>
        </div>
    </div>
    <div class="post-body">
        <div class="empty post-text blink"></div>
        <div *ngIf="withMedia" class="empty photos-container blink"></div>
    </div>
    <div class="post-footer flex jc-sb ai-c">
        <ul class="content-actions flex fd-r jc-sb">
            <li class="flex ai-c">
                <span class="blink empty round square-24"></span>
            </li>
            <li class="flex ai-c">
                <span class="blink empty round square-24"></span>
            </li>
            <li class="flex fd-r">
                <span class="blink empty round square-24"></span>
            </li>
        </ul>
    </div>
</section>