:host {
    width: 100%;
    display: flex;
	justify-content: center;
}

ng-scrollbar {
	--scrollbar-track-color: rgba(0, 0, 0, 0.05);
	--scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
	--scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
	--scrollbar-size: 6px;
}

.chat {
	position: fixed;
	top: 69px;
	bottom: 0px;
	width: 612px;
	box-sizing: border-box;
	border-radius: 15px;
	z-index: 10;
	padding: 0px 8px;
	margin-right: 60px;
	background-color: #fff;
}

.chat-header {
	border-radius: 15px 15px 0px 0px;
	padding: 6px 0px 2px 0px;
	background-color: #fff;
	min-height: 40px;
}

.chat-header .back-btn {
	background-image: url(../../../assets/images/back-btn.png);	
}

.chat-header .back-btn:hover {
	background-image: url(../../../assets/images/back-btn-hover.png);
}

.chat-header .source-name {
	font-weight: bold;
	color: #333;
}

.chat-header .last-visited {
	font-size: 13px;
	color: #555;
}

.chat-header .search-message-form input {
	background-image: url(../../../assets/images/search.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	background-size: 22px;
    background-color: transparent;
	border-radius: 20px;
	padding: 5px 8px 5px 32px;
	border: none;
	outline: none;
	width: 32px;
	font-size: 15px;
	transition: width ease-out 0.4s;
	cursor: pointer;
}

.chat-header .search-message-form input:hover {
	background-image: url(../../../assets/images/search-hover.png);
}

.chat-header .search-message-form input:focus {
	width: 300px;
	background-image: url(../../../assets/images/search-hover.png);
}

.chat-body {
	border-radius: 15px;
	box-sizing: border-box;
	background-color: #f7f9fa;
}

.chat-body .messages-container {
	min-height: 100%;
	display: flex;
	padding-bottom: 8px;
}

.chat-footer {
	background-color: #fff;
	border-radius: 0px 0px 15px 15px;
	padding: 10px 0px;
	z-index: 3;
}

.chat-footer .preview-container {
	position: relative;
	margin: 0px 42px;
	margin-bottom: 5px;
}

.chat-footer .preview-container .close-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	background-image: url(../../../assets/images/plus-hover.png);
	background-color: #fff;
	transform: rotate(45deg);
	border: 1px solid #eee;
	outline: none;
	z-index: 10;
}

.chat-footer .textarea-attach-wrap {
	width: 100%;
	border-radius: 15px;
	border: 1px solid #eee;
	margin: 0px 10px;
}

.chat-footer textarea {
	padding: 4px 10px;
	font-size: 17px;
	height: 20px;
	line-height: 20px;
}

.chat-footer .submit-btn {
	background: url(../../../assets/images/send.png) no-repeat;
	background-size: contain;
	cursor: pointer;
}

.chat-footer .submit-btn:disabled {
	background: url(../../../assets/images/send-disable.png) no-repeat;
	background-size: contain;
}

.attach {
	list-style: none;
}

.attach .add-picture-btn {
	background-image: url(../../../assets/images/picture.png);
}

.attach .add-music-btn {
	background-image: url(../../../assets/images/add-music.png);
}

.attach .add-video-btn {
	background-image: url(../../../assets/images/add-video.png);
}

.attach .add-emoji-btn {
	background-image: url(../../../assets/images/emoji.png);
}

@media screen and (min-width: 1024px) and (max-width: 1224px) {
	.chat {
		width: 49.5%;
		margin-right: 6%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.chat {
		width: 56%;
		margin-right: 25%;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.chat {
		width: 86%;
		margin-left: 73px;
		margin-right: 0px;
		bottom: 0px;
	}
}