<main>
    <section class="main-header">
        <div class="header-content flex fd-r jc-sb">
            <div></div>
            <div class="flex fd-c ai-c">
                <div class="source-name">{{ other?.name }}</div>
                <div class="last-visited">14 October 2019 at 09:23 am</div>
            </div>
            <form action="" method="get" class="search-message-form flex fd-c jc-c" >
                <input type="search" name="search_field" placeholder="Search for people and groups" autocomplete="off" />
            </form>
        </div>
    </section>
    <section
        class="messages-box flex fd-c jc-fe"
        #messageList
    >
        <ng-container *ngIf="chat; else loading">
            <div 
                *ngFor="let message of chat.messagesDTO; let i = index"
                class="message-item flex ai-fe"
                [tabindex]="i"
            >
                <div class="message-author">
                    <div class="avatar-box square-32">
                        <img [src]="message.author.currentAvatarPath" alt="photo" />
                    </div>
                    <div class="author-id hidden">{{ message.authorId }}</div>
                </div>
                <div class="message-body">
                    {{ message.text }}
                    <div class="message-footer flex jc-fe">
                        <div class="message-date">{{ message.creationDate | date:'h:mm':'':'uk'}}</div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #loading>
            <div id="floatingCirclesG">
                <div class="f_circleG" id="frotateG_01"></div>
                <div class="f_circleG" id="frotateG_02"></div>
                <div class="f_circleG" id="frotateG_03"></div>
                <div class="f_circleG" id="frotateG_04"></div>
                <div class="f_circleG" id="frotateG_05"></div>
                <div class="f_circleG" id="frotateG_06"></div>
                <div class="f_circleG" id="frotateG_07"></div>
                <div class="f_circleG" id="frotateG_08"></div>
            </div>
        </ng-template>
    </section>
    <section class="input-message">
        <form 
            [formGroup]="form"
            (ngSubmit)="submit()"
            class="flex fd-r ai-fe"
        >
            <ul class="attach flex fd-r jc-c" data-container="attach">
                <li class="add-picture-btn round r-20 square-28" data-attach="picture"></li>
                <li class="add-music-btn round r-20 square-28" data-attach="music"></li>
                <li class="add-video-btn round r-22 square-28" data-attach="video"></li>
            </ul>
            <div class="textarea-attach-wrap flex fd-r ai-fe">
                <textarea name="post-field" formControlName="messageText" placeholder="Write a message..." data-submit-btn="blink"></textarea>
                <ul class="attach flex fd-r jc-sb" data-container="attach">
                    <li class="add-emoji-btn round r-22 square-28" data-attach="emoji"></li>
                </ul>
            </div>
            <button type="submit" class="submit-btn square-32 fs-0"></button>
        </form>
    </section>
</main>