<div class="wrap flex jc-c">
  <section class="user-info">
    <div class="photo-cover"></div>
    <div class="user-avatar-back">
      <div class="user-avatar">
        <img src="../../../assets/images/авка.jpg" alt="avatar" />
      </div>
    </div>
    <div class="flex fd-r jc-sb ai-c">
      <div class="flex fd-c">
        <span class="source-name">Mr. Algernon</span>
        <span class="nick-name">@mr.algernon</span>
      </div>
      <a
        class="edit-profile-btn"
        (click)="editProfileFlag = true"
        >Edit profile</a
      >
    </div>
    <div class="flex fd-r jc-fe">
      <div class="wrap-info flex fd-c">
        <div class="bio">You are weighed and found very light. 67 kg.</div>
        <ul class="follow-wrap flex fd-r jc-sb">
          <li class=""><span>30</span> posts</li>
          <li class=""><span>24</span> followers</li>
          <li class=""><span>10</span> following</li>
        </ul>
        <ul class="short-info flex fd-r">
          <li class="residence">Zhytomyr</li>
          <li class="birthday">Born June 26, 1998</li>
          <li class="relationship">Married</li>
          <li class="more-details"></li>
        </ul>
      </div>
    </div>
  </section>
</div>
<app-edit-profile-popup *ngIf="editProfileFlag" (onClose)="editProfileFlag = false"></app-edit-profile-popup>