.trends {
    border-radius: 15px;
    background-color: #f3f7fa;
    margin-bottom: 20px;
}

.trends-header, .trends-body > .trend-item, .trends-footer > a {
    padding: 8px 16px;
}

.trends-header {
    border-radius: 15px 15px 0px 0px;
    border-bottom: 1px solid #e6eef5;
    color: #222;
    font-family: 'Deezer', 'Open-sans', sans-serif;
}

.trends .trend-item {
    display: block;
    border-bottom: 1px solid #e6eef5;
}

.trends .trend-item:hover {
    background-color: #dcecf8;
}

.trends .trend-item:last-of-type {
    border-bottom: none;
}

.trend-item-body {
    color: #222;
}

.trend-item-footer {
    font-size: 13px;
    color: rgb(145, 145, 145);
}

.trends-footer {
    border-top: 1px solid #e6eef5;
}

.trends-footer > a {
    display: block;
    cursor: pointer;
}