@font-face {
	font-family: 'Deezer';
	src: url(assets/fonts/Deezer/deezer-bold.woff2) format('woff2');
}

* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	border: none;
	background-color: transparent;
}

textarea {
	border: none;
	resize: none;
	outline: none;
	overflow: hidden;
	color: #484848;
	width: 100%;
}

/*FLEXIBLE box*/

.flex {
	display: flex;
}

.flex.fd-r {
	flex-direction: row;
}

.flex.fd-rr {
	flex-direction: row-reverse;
}

.flex.fd-c {
	flex-direction: column;
}

.flex.fd-cr {
	flex-direction: column-reverse;
}

.flex.fw-w {
	flex-wrap: wrap;
}

.flex.fw-nw {
	flex-wrap: nowrap;
}

.flex.jc-sb {
	justify-content: space-between;
}

.flex.jc-sa {
	justify-content: space-around;
}

.flex.jc-c {
	justify-content: center;
}

.flex.jc-fs {
	justify-content: flex-start; /*default value*/
}

.flex.jc-fe {
	justify-content: flex-end;
}

.flex.ai-s {
	align-items: stretch; /*default value*/
}

.flex.ai-c {
	align-items: center;
}

.flex.ai-fs {
	align-items: flex-start;
}

.flex.ai-fe {
	align-items: flex-end;
}

.flex.ai-bl {
	align-items: baseline;
}

.flex.ac-s {
	align-content: stretch; /*default value*/
}

.flex.ac-c {
	align-content: center;
}

.flex.ac-sb {
	align-content: space-between;
}

.flex.ac-sa {
	align-content: space-around;
}

.flex.ac-fe {
	align-content: flex-end;
}

.flex > .fs-0 {
	flex-shrink: 0;
}

.flex > .fg-1 {
	flex-grow: 1;
}

.flex > .as-c {
	align-self: center;
}

.flex > .as-fs {
	align-self: flex-start;
}

.flex > .as-fe {
	align-self: flex-end;
}

.flex > .as-s {
	align-self: stretch;
}

.flex > .as-bl {
	align-self: baseline;
}

/*SHARED styles*/

.hidden {
	display: none;
}

.avatar-box {
	border-radius: 50%;
	overflow: hidden;
	flex-shrink: 0;
}

.avatar-box img {
	width: 100%;
}

.square-20 {
	width: 20px;
	height: 20px;
}

.square-22 {
	width: 22px;
	height: 22px;
}

.square-24 {
	width: 24px;
	height: 24px;
}

.square-26 {
	width: 26px;
	height: 26px;
}

.square-28 {
	width: 28px;
	height: 28px;
}

.square-32 {
	width: 32px;
	height: 32px;
}

.square-40 {
	width: 40px;
	height: 40px;
}

.square-44 {
	width: 44px;
	height: 44px;
}

.square-48 {
	width: 48px;
	height: 48px;
}

.square-64 {
	width: 64px;
	height: 64px;
}

.square-128 {
	width: 128px;
	height: 128px;
}

.round {
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	cursor: pointer;
}

.round.r-18 {
	background-size: 18px;
}

.round.r-20 {
	background-size: 20px;
}

.round.r-22 {
	background-size: 22px;
}

.hashtag {
	color: #1da1f2;
	text-decoration: none;
}

.btn {
	padding: 8px 14px;
	border-radius: 20px;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
	font-family: inherit;
	box-sizing: border-box;
}

.btn.btn-outlined {
	color: #1da1f2;
	border: 2px solid #1da1f2;
	background: #fff;
}

.btn.btn-outlined:hover {
	color: #fff;
	background: #1da1f2;
}

.btn.btn-filled {
	color: #fff;
	border: 1px solid #1da1f2;
	background-color: #1da1f2;
}

.btn.btn-filled:hover {
	color: #fff;
	border: 1px solid rgb(202, 32, 85);
	background-color: rgb(202, 32, 85);
}

.btn.btn-danger {
	color: #fff;
	border: 1px solid rgb(202, 32, 85);
	background-color: rgb(202, 32, 85);
}

.btn:focus {
	outline: none;
}

.btn.btn-outlined:focus,
.btn.btn-filled:focus {
	box-shadow: 0 0 2px 3px #81c7f3;
}

.btn.btn-danger:focus {
	box-shadow: 0 0 2px 3px rgb(207, 85, 123);
}

body {
	background-color: rgb(230, 236, 240);
	font-family: 'Nunito', 'Open-sans', sans-serif;
}

.source-name {
	font-weight: bold;
	font-size: 16px;
	color: #333;
}

.nick-name {
	font-size: 14px;
	color: #7a8b9b;
}

.cdk-virtual-scroll-content-wrapper {
	display: contents;
}

#floatingCirclesG{
	position:relative;
	width:51px;
	height:51px;
	margin: 0 auto;
	transform:scale(0.6);
		-ms-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(217,217,217);
	height:9px;
	width:9px;
	border-radius:5px;
		-ms-border-radius:5px;
	animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
	animation-duration:1.2s;
		-ms-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
	animation-direction:normal;
		-ms-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:21px;
	animation-delay:0.45s;
		-ms-animation-delay:0.45s;
}

#frotateG_02{
	left:6px;
	top:6px;
	animation-delay:0.6s;
		-ms-animation-delay:0.6s;
}

#frotateG_03{
	left:21px;
	top:0;
	animation-delay:0.75s;
		-ms-animation-delay:0.75s;
}

#frotateG_04{
	right:6px;
	top:6px;
	animation-delay:0.9s;
		-ms-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:21px;
	animation-delay:1.05s;
		-ms-animation-delay:1.05s;
}

#frotateG_06{
	right:6px;
	bottom:6px;
	animation-delay:1.2s;
		-ms-animation-delay:1.2s;
}

#frotateG_07{
	left:21px;
	bottom:0;
	animation-delay:1.35s;
		-ms-animation-delay:1.35s;
}

#frotateG_08{
	left:6px;
	bottom:6px;
	animation-delay:1.5s;
		-ms-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(29,161,242);
	}

	100%{
		background-color:rgba(189,189,189,0.32);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(29,161,242);
	}

	100%{
		background-color:rgba(189,189,189,0.32);
	}
}