<main>
  <div class="sign-box">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="validation" *ngIf="name?.invalid && name?.touched">
        <small *ngIf="name?.errors?.required">Ім'я є обов’язковим </small>
        <small *ngIf="name?.errors?.minlength"
          >Довжина імені повинна бути щонайменше 
          {{ name?.errors?.minlength?.requiredLength }} символів.</small
        >
        <small *ngIf="name?.errors?.pattern">Ім'я може містити тільки літери і пробіли</small>
        <small *ngIf="name?.errors?.maxlength">
          Максимальна довжина імені 
          {{ name?.errors?.maxlength?.requiredLength }} символів.
        </small>
      </div>
      <div class="validation" *ngIf="username?.invalid && username?.touched">
        <small *ngIf="username?.errors?.required">Username є обов’язковим </small>
        <small *ngIf="username?.errors?.pattern">Username може містити тільки латинські літери, цифри та знаки підкреслення</small>
        <small *ngIf="username?.errors?.forbiddenUsername">Користувач з таким username вже існує</small>
      </div>
      <div class="validation" *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.required">Email є обов’язковим</small>
        <small *ngIf="email?.errors?.forbiddenEmail">Користувач з таким e-mail вже існує</small>
        <small *ngIf="email?.errors?.email">Email не валідний</small>
      </div>
      <div class="validation" *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.required">Пароль є обов'язковим</small>
        <small *ngIf="password?.errors?.minlength"
          >Довжина паролю повинна бути щонайменше 
          {{ password?.errors?.minlength?.requiredLength }} символів.
        </small>
      </div>

      <div class="controls-box">
        <div class="form-control flex fd-r jc-sb">
          <label>Ім'я:</label>
          <input type="text" formControlName="name" placeholder="Іван Іванов" />
        </div>
        <div class="form-control flex fd-r jc-sb">
          <label>Username:</label>
          <input
            type="text"
            formControlName="username"
            placeholder="banan4ik"
          />
        </div>
        <div class="form-control flex fd-r jc-sb">
          <label>E-mail:</label>
          <input
            type="email"
            formControlName="email"
            placeholder="example@mail.com"
          />
        </div>
        <div class="form-control flex fd-r jc-sb">
          <label>Пароль:</label>
          <input
            type="password"
            formControlName="password"
            placeholder="*********"
          />
        </div>
        <p class="sign-box-btn">
          <span *ngIf="submitted" class="loader">
            <app-loader></app-loader>
          </span>
          <!-- (click)="captchaRef.execute()"  -->
          <button 
            type="submit" 
            [disabled]="form.invalid || form.pending || submitted" class="sign-btn"
          >Sign up</button>
        </p>
        <re-captcha
          (resolved)="resolved($event)"
          size="invisible"
          siteKey="6Lem90YbAAAAAPs2f74pe9FznGebVCDVDwrBUwCW"
          #captchaRef="reCaptcha"
        ></re-captcha>
        <!-- <p class="form-footer">
          By clicking “Sign up”, you agree to our
          <a href="#">terms of service</a> and
          <a href="#">privacy statement</a>.
        </p> -->
      </div>
    </form>
  </div>
</main>
