/* HEADER */

header {
	position: fixed;
	width: 100%;
	padding: 7px 20px;
	background: #fff;
	z-index: 11;
	border-bottom: 1px solid #F4F4F4;
	box-sizing: border-box;
}

.wrapper {
	width: 1224px;
}

.logo {
	font-family: 'Concert One', cursive;
	color: #00a3e8!important;
	font-size: 30px;
	text-align: right;
	line-height: 35px;
}

.logo::before {
	content: "";
	width: 40px;
	height: 40px;
	margin-right: 10px;
	display: inline-block;
	background: url(../../../../assets/images/logo.png) no-repeat;
	background-size: 100%;
	vertical-align: top;
}

	.logo a {
		color: #00a3e8 !important;
	  text-decoration: none;
		outline: none;
	}

.search-profile-wrap {
	width: 350px;
}

.search-form {
	position: relative;
}

.search-form input {
	background: url(../../../../assets/images/search.png) 10px center no-repeat;
	border-radius: 20px;
	padding: 10px 30px 10px 40px;
	border: none;
	background-color: rgb(230, 236, 240);
	background-size: 20px 20px;
	width: 300px;
}

.search-form input:focus {
	background: url(../../../../assets/images/search-hover.png) 10px center no-repeat;
	border: 1px solid #1da1f2;
	outline: none;
	background-color: #fff;
	background-size: 20px 20px;
}

.top-profile-menu {
	position: relative;
}

.top-profile-menu > .avatar-box {
	background: #eee;
}

.top-profile-menu > .avatar-box:hover {
	opacity: 0.8;
	cursor: pointer;
}

/* ASIDE */

aside {
	position: fixed;
	left: 10%;
	top: 69px;
	bottom: 15px;
	min-width: 220px;
	width: 18.5%;
	border-radius: 15px;
	padding: 10px;
	padding-left: 30px;
	box-sizing: border-box;
	background-color: #fff;
}

.main-nav {
	width: 200px;
	position: absolute;
	left: 15px;
	font-family: 'Deezer', 'Open-sans', sans-serif;
}

.main-nav ul {
	list-style: none;
}

.main-nav a {
	color: #333;
	font-size: 22px;
	width: 100%;
	border-radius: 15px;
}

.main-nav a:hover {
	background-color: #E3F4FF;
	color: #1da1f2;
}

.main-nav a.active {
	color: #1da1f2;
}

.main-nav a > .menu-icon {
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: 8px center;
	background-size: 28px;
}

.main-nav a > .menu-title {
	margin-left: 6px;
}

.main-nav a.profile .menu-icon {
	background-image: url(../../../../assets/images/home.png);
}

.main-nav a.profile.active .menu-icon {
	background-image: url(../../../../assets/images/home-hover.png);
}

.main-nav a.profile:hover .menu-icon {
	background-image: url(../../../../assets/images/home-hover.png);
}

.main-nav a.news .menu-icon {
	background-image: url(../../../../assets/images/news.png);
}

.main-nav a.news.active .menu-icon {
	background-image: url(../../../../assets/images/news-hover.png);
}

.main-nav a.news:hover .menu-icon {
	background-image: url(../../../../assets/images/news-hover.png);
}

.main-nav a.messages .menu-icon {
	background-image: url(../../../../assets/images/chat.png);
}

.main-nav a.messages.active .menu-icon {
	background-image: url(../../../../assets/images/chat-hover.png);
}

.main-nav a.messages:hover .menu-icon {
	background-image: url(../../../../assets/images/chat-hover.png);
}

.main-nav a.friends .menu-icon {
	background-image: url(../../../../assets/images/friends.png);
}

.main-nav a.friends.active .menu-icon {
	background-image: url(../../../../assets/images/friends-hover.png);
}

.main-nav a.friends:hover .menu-icon {
	background-image: url(../../../../assets/images/friends-hover.png);
}

.main-nav a.photos .menu-icon {
	background-image: url(../../../../assets/images/photos.png);
}

.main-nav a.photos.active .menu-icon {
	background-image: url(../../../../assets/images/photos-hover.png);
}

.main-nav a.photos:hover .menu-icon {
	background-image: url(../../../../assets/images/photos-hover.png);
}

.main-nav a.communities.active .menu-icon {
	background-image: url(../../../../assets/images/communities-hover.png);
}

.main-nav a.communities .menu-icon {
	background-image: url(../../../../assets/images/communities.png);
}

.main-nav a.communities:hover .menu-icon {
	background-image: url(../../../../assets/images/communities-hover.png);
}

.main-nav a.music .menu-icon {
	background-image: url(../../../../assets/images/music.png);
}

.main-nav a.music.active .menu-icon {
	background-image: url(../../../../assets/images/music-hover.png);
}

.main-nav a.music:hover .menu-icon {
	background-image: url(../../../../assets/images/music-hover.png);
}

.main-nav a.video .menu-icon {
	background-image: url(../../../../assets/images/video.png);
}

.main-nav a.video.active .menu-icon {
	background-image: url(../../../../assets/images/video-hover.png);
}

.main-nav a.video:hover .menu-icon {
	background-image: url(../../../../assets/images/video-hover.png);
}

.main-nav a.saved .menu-icon {
	background-image: url(../../../../assets/images/bookmarks.png);
}

.main-nav a.saved.active .menu-icon {
	background-image: url(../../../../assets/images/bookmarks-hover.png);
}

.main-nav a.saved:hover .menu-icon {
	background-image: url(../../../../assets/images/bookmarks-hover.png);
}

.main-nav a.explore .menu-icon {
	background-image: url(../../../../assets/images/compass.png);
}

.main-nav a.explore.active .menu-icon {
	background-image: url(../../../../assets/images/compass-hover.png);
}

.main-nav a.explore:hover .menu-icon {
	background-image: url(../../../../assets/images/compass-hover.png);
}

.main-nav a.notifications .menu-icon {
	background-image: url(../../../../assets/images/bell.png);
}

.main-nav a.notifications.active .menu-icon {
	background-image: url(../../../../assets/images/bell-hover.png);
}

.main-nav a.notifications:hover .menu-icon {
	background-image: url(../../../../assets/images/bell-hover.png);
}

.right-col {
	position: fixed;
	background: #fff;
	border-radius: 15px 0px 0px 15px;
	width: 25.7%;
	min-width: 270px;
	height: 100%;
	padding: 10px 10px 10px 30px;
	right: 0px;
	top: 64px;
	z-index: 9;
	box-sizing: border-box;
}

@media screen and (max-width: 768px) {
	aside {
		width: 10%;
		min-width: 44px;
		padding-right: 10px;
	}

	.main-nav {
		width: 44px;
	}

	.main-nav a span {
		display: none;
	}

	.main-nav a {
		height: 30.4px;
	}
}