<header class="flex fd-r ai-c jc-sb">
  <div class="logo"><a href="#">algernon</a></div>
  <div class="search-profile-wrap flex fd-r ai-c jc-sb">
    <form action="" method="get" class="search-form">
      <input type="search" name="search" placeholder="Search" />
      <app-search-result-popup *ngIf="false"></app-search-result-popup>
    </form>
    <div class="top-profile-menu flex fd-c ai-fe">
      <div class="avatar-box square-32" (click)="profileMenuIsOpened != profileMenuIsOpened">
        <img *ngIf="me" [src]="me.pathToAvatar" alt="photo" />
      </div>
      <app-profile-menu-popup [me]="me" *ngIf="profileMenuIsOpened"></app-profile-menu-popup>
    </div>
  </div>
</header>

<div class="flex fd-r jc-c">
	<aside>
		<nav class="main-nav">
			<ul>
				<li><a href="profile.html" class="profile" data-state="0">Profile</a></li>
				<li><a href="index.html" class="news" data-state="0">News</a></li>
		  	<li><a href="messages.html" class="messages" data-state="current">Messages</a></li>
				<li><a href="#" class="friends" data-state="0">Friends</a></li>
		  	<li><a href="#" class="photos" data-state="0">Photos</a></li>
		  	<li><a href="#" class="communities" data-state="0">Communities</a></li>
		  	<li><a href="#" class="music" data-state="0">Music</a></li>
		  	<li><a href="#" class="video" data-state="0">Videos</a></li>
				<li><a href="#" class="bookmarks" data-state="0">Bookmarks</a></li>
			</ul>
        </nav>
    </aside>
        <router-outlet></router-outlet>
    <section class="right-col"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam 
      iure pariatur enim inventore expedita velit delectus aspernatur nam reprehenderit adipisci,
      et earum consequuntur amet blanditiis optio! Rem reprehenderit facere, quam expedita, 
      quidem cumque iure rerum id sunt, quisquam ipsum, dolorum! 
    </section>
</div>