<div class="flex jc-c">  
  <section class="edit-profile">
    <div class="edit-profile-header flex fd-c jc-c ai-c">
      <button (click)="close()" class="close-btn round r-22 square-32"></button>
      <h3>Редагувати профіль</h3>
    </div>
    <div class="edit-profile-body">
      <form
        class="edit-info-form flex fd-c ai-fe"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <div class="photo-cover" data-container="image-box">
          <img
            *ngIf="user && user.coverPath && !previewCoverData"
            [src]="user.coverPath"
            alt="photo-cover"
          />
          <img
            *ngIf="previewCoverData"
            [src]="previewCoverData.path"
            alt="photo-cover"
          />
          <div class="photo-upload-wrap">
            <div class="upload-btn flex jc-c ai-c">
              <img
                src="../../assets/images/add-photo.png"
                (click)="cover_input.click()"
                alt=""
              />
            </div>
            <input
              type="file"
              (change)="previewCover(cover_input.files[0])"
              #cover_input
              class="hidden"
            />
          </div>
        </div>
        <div class="user-avatar-back">
          <div class="user-avatar">
            <img
              *ngIf="user.avatarPath && !previewAvatarData;"
              [src]="user.avatarPath"
              alt="avatar"
            />
            <img
              *ngIf="previewAvatarData"
              [src]="previewAvatarData.path"
              alt="avatar"
            />
            <img *ngIf="!previewAvatarData && !user.avatarPath" src="../../../assets/images/default-avatar.jpg" alt="default-avatar">
            <div class="photo-upload-wrap">
              <div class="upload-btn flex jc-c ai-c">
                <img
                  src="../../../assets/images/add-photo.png"
                  (click)="avatar_input.click()"
                  alt=""
                />
              </div>
              <input
                type="file"
                (change)="previewAvatar(avatar_input.files[0])"
                #avatar_input
                class="hidden"
              />
            </div>
          </div>
        </div>
        <div class="input-fields">
          <ng-scrollbar appearance="standard">
            <div class="group">
              <input type="text" formControlName="name" />
              <label for="">ім'я</label>

              <div class="validation" *ngIf="name?.invalid && name?.touched">
                <small *ngIf="name?.errors?.minlength"
                  >Довжина імені повинна бути щонайменше 
                  {{ name?.errors?.minlength?.requiredLength }} символів.
                </small>
                <small *ngIf="name?.errors?.pattern"
                  >Ім'я повинно містити тільки літери і пробіли.
                </small>
                <small *ngIf="name?.errors?.maxlength">
                  Максимальна довжина імені 
                  {{ name?.errors?.maxlength?.requiredLength }} символів.
                </small>
              </div>
            </div>
            <div class="group">
              <input type="text" formControlName="username" />
              <label for="">username</label>

              <div
                class="validation"
                *ngIf="username?.invalid && username?.touched"
              >
                <small *ngIf="username?.errors?.pattern">
                  Username може містити тільки латинські літери, цифри та знаки підкреслення
                </small>
                <small *ngIf="username?.errors?.minlength">
                  Мінімальна довжина імені 
                  {{ username?.errors?.minlength?.requiredLength }} символів.
                </small>
                <small *ngIf="username?.errors?.maxlength">
                  Максимальна довжина імені 
                  {{ username?.errors?.maxlength?.requiredLength }} символів.
                </small>
              </div>
            </div>
            <div class="group">
              <textarea type="text" formControlName="bio"></textarea>
              <label for="">bio</label>
              <div class="validation" *ngIf="bio?.invalid && bio?.touched">
                <small *ngIf="bio?.errors?.maxlength">
                  Максимальна довжина bio
                  {{ bio?.errors?.maxlength?.requiredLength }} символів.
                </small>
              </div>
            </div>
            <div class="date-of-birth flex fd-r jc-sb">
              <input type="number" formControlName="dayOfBirth" />
              <input type="number" formControlName="monthOfBirth" />
              <input type="number" formControlName="yearOfBirth" min="1900" />
              <label for="">дата народження</label>
              <div
                class="validation"
                *ngIf="dayOfBirth?.invalid && dayOfBirth?.touched"
              >
                <small *ngIf="dayOfBirth?.errors?.max || dayOfBirth?.errors?.min">
                  Введіть коректну дату.
                </small>
              </div>
              <div
                class="validation"
                *ngIf="monthOfBirth?.invalid && monthOfBirth?.touched"
              >
                <small
                  *ngIf="monthOfBirth?.errors?.max || monthOfBirth?.errors?.min"
                >
                  Введіть коректний місяць.
                </small>
              </div>
              <div
                class="validation"
                *ngIf="yearOfBirth?.invalid && yearOfBirth?.touched"
              >
                <small *ngIf="yearOfBirth?.errors?.max || yearOfBirth?.errors?.min">
                  Введіть коректний рік.
                </small>
              </div>
            </div>

            <div class="group">
              <app-custom-select
                [options]="genderSelect.options"
                [selected]="genderSelect.selected"
                [label]="genderSelect.label"
                (changeEvent)="selectedGender = $event"
              ></app-custom-select>
            </div>

            <div class="group">
              <app-custom-select
                [options]="maritalStatusSelect.options"
                [selected]="maritalStatusSelect.selected"
                [label]="maritalStatusSelect.label"
                (changeEvent)="selectedMaritalStatus = $event"
              ></app-custom-select>
            </div>

            <div class="form-actions flex jc-sb">
              <a href="#" class="advanced-editing">Розширене редагування</a>
              <button type="submit" class="save-info-btn as-fe">Зберегти</button>
            </div>
          </ng-scrollbar>
        </div>
      </form>
    </div>
  </section>
</div>
<div class="overflow" (click)="close()"></div>
