.overflow {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.5);
	z-index: 20;
}

#edit-profile-win {
	position: fixed;
	top: 30px;
	left: 33%;
	right: 33%;
	min-width: 515px;
	z-index: 21;
}

#edit-profile-win[data-state="inactive"] {
	display: none;
}

#edit-profile-win[data-state="active"] {
	display: block;
}

#edit-profile-win .win-content {
	background: #fff;
	border-radius: 15px;
	border: 1px solid #ddd;
	z-index: 21;
	overflow: hidden;
}

.win-content .content-title {
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #eee;
	color: #333;
}

.content-title .close-btn {
	position: absolute;
	left: 10px;
	top: 10px;
	background-image: url(../../../assets/images/plus-hover.png);
	transform: rotate(45deg);
	outline: none;
}

.content-title .close-btn:hover {
	background-color: #D5EFFF;
}

.win-content .edit-info-form {
	position: relative;
	max-height: 590px;
}

.win-content .photo-cover {
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
}

.win-content .photo-cover > img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

.win-content .user-avatar-back {
	width: 98px;
	height: 98px;
	padding: 4px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	top: 100px;
	left: 15px;
}

.win-content .user-avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.win-content .user-avatar > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.win-content .photo-upload-wrap {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.win-content .photo-upload-wrap .upload-btn {
	width: 38px;
	height: 38px;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 38px / 2);
	left: calc(50% - 38px / 2);
}

.win-content .photo-upload-wrap .upload-btn:hover {
	background: rgba(255, 255, 255, 0.1);
}

.win-content .photo-upload-wrap .upload-btn img {
	width: 24px;
}

.win-content .input-fields {
	width: 350px;
	padding: 25px 25px 15px 0px;
	overflow-y: auto;
}

.input-fields .group {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
}

.group input, .group textarea {
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	display: block;
	height: 40px;
	border-radius: 15px;
	outline: none;
	border: 1px solid #1da1f2;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

.group textarea {
	max-height: 80px;
}

.group label {
	top: -10px;
	font-size: 14px;
	color: #1da1f2;
	background: #fff;
	position: absolute;
	pointer-events: none;
	left: 10px;
	padding: 0px 4px;
}

.win-content .form-actions {
	width: 100%;
}

.win-content .advanced-editing {
	font-size: 16px;
	color: #888;
}

.win-content .advanced-editing:hover {
	text-decoration: underline;
	color: #1da1f2;
}

.win-content .save-info-btn {
	border-radius: 20px;
	font-weight: bold;
	padding: 8px 16px;
	color: #fff;
	border: 1px solid #1da1f2;
	background: #1da1f2;
}

.win-content .save-info-btn:hover {
	background: #0D93E5;
}

.date-of-birth {
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	padding-top: 8px;
	display: block;
	border-radius: 15px;
	border: 1px solid #1da1f2;
	position: relative;
	margin-bottom: 20px;
}

.date-of-birth input {
	box-sizing: border-box;
	width: 30%;
	font-size: 16px;
	padding: 2px 10px;
	border-radius: 15px;
	border: none;
	background: #eee;
	margin: 0px 5px;
	outline: none;
	margin-bottom: 8px;
}

.date-of-birth label {
	position: absolute;
	pointer-events: none;
	left: 10px;
	transition: 0.2s ease all;
	padding: 0px 4px;
	top: -12px;
	font-size: 14px;
	color: #1da1f2;
	background: #fff;
}

.validation {
	font-size: 14px;
	padding: 0px 8px;
}