.dropdown {
	position: relative;
}

.dropdown label {
	top: -10px;
	font-size: 14px;
	color: #1da1f2;
	background: #fff;
	position: absolute;
	pointer-events: none;
	left: 10px;
	padding: 0px 4px;
}

.dropdown input {
	cursor: pointer;
    box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	display: block;
	height: 40px;
	border-radius: 15px;
	outline: none;
	border: 1px solid #1da1f2;
	color: #333;
	font-family: 'Open Sans', sans-serif;
}

.dropdown input:disabled {
	background: inherit;
}

.dropdown .mark {
	border: 6px solid transparent;
	position: absolute;
	top: 17px;
	right: 12px;
	width: 0px;
	height: 0px;
}

.dropdown .mark.up {
	border-bottom-color: #1da1f2;	
}

.dropdown .mark.down {
	border-top-color: #1da1f2;
}

.dropdown-menu {
	width: 100%;
	margin-top: 5px;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #1da1f2;
}

.dropdown-menu > div {
	cursor: pointer;
	border-radius: 15px;
	color: #1da1f2;
	padding-left: 10px;
}

.dropdown-menu > div:hover {
	background: #1da1f2;
	border-radius: 15px;
	color: #fff;
}

.collapse {
	display: none;
}