<main>
  <div class="sign-box">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="validation" *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.required">Email є обов'язковим </small>
        <small *ngIf="email?.errors?.email">Введіть валідний e-mail </small>
      </div>
      <div class="validation" *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.required">Пароль є обов'язковим</small>
        <small *ngIf="password?.errors?.minlength"
          >Довжина паролю повинна бути щонайменше 
          {{ password?.errors?.minlength?.requiredLength }} символів. 
          {{ password?.errors?.minlength?.actualLength }} символів введено
        </small>
      </div>
      <div class="controls-box">
        <div class="form-control flex fd-r jc-sb">
          <label>Email:</label>
          <input
            type="text"
            formControlName="email"
            placeholder="example@mail.com"
          />
        </div>
        <div class="form-control flex fd-r jc-sb">
          <label>Пароль:</label>
          <input
            type="password"
            formControlName="password"
            placeholder="*********"
          />
        </div>
        <div class="sign-box-btn">
          <span *ngIf="submitted" class="loader">
            <app-loader></app-loader>
          </span>
          <button 
            (click)="captchaRef.execute()" 
            type="submit" 
            [disabled]="form.invalid || submitted" 
            class="sign-btn"
          >Sign in</button>
        </div>
      </div>
      <re-captcha
        (resolved)="resolved($event)"
        size="invisible"
        siteKey="6Lem90YbAAAAAPs2f74pe9FznGebVCDVDwrBUwCW"
        #captchaRef="reCaptcha"
      ></re-captcha>
      <div class="form-footer">
        <a class="forgot-password">Забули пароль?</a>
        <a class="create-account" [routerLink]="['/auth', 'sign-up']">Створити аккаунт</a>
      </div>
    </form>
  </div>
</main>
