<main>
  <div class="sign-box">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="validation" *ngIf="email?.invalid && email?.touched">
        <small *ngIf="email?.errors?.required">Email is required. </small>
        <small *ngIf="email?.errors?.email">Enter a valid e-mail</small>
      </div>
      <div class="validation" *ngIf="password?.invalid && password?.touched">
        <small *ngIf="password?.errors?.required">Password is required</small>
        <small *ngIf="password?.errors?.minlength"
          >Password must be at least
          {{ password?.errors?.minlength?.requiredLength }} characters long.
          {{ password?.errors?.minlength?.actualLength }} characters are now
          entered</small
        >
      </div>
      <div class="controls-box">
        <div class="form-control flex fd-r jc-sb">
          <label>Email:</label>
          <input
            type="text"
            formControlName="email"
            placeholder="example@mail.com"
          />
        </div>
        <div class="form-control flex fd-r jc-sb">
          <label>Password:</label>
          <input
            type="password"
            formControlName="password"
            placeholder="*********"
          />
        </div>
        <div class="sign-box-btn">
          <button type="submit" [disabled]="form.invalid || submitted" class="sign-btn">Sign in</button>
        </div>
      </div>
      <div class="form-footer">
        <a class="forgot-password">Forgot your password?</a>
        <a class="create-account" routerLink="sign-up">Create an account</a>
      </div>
    </form>
  </div>
</main>
