.message-item {
	margin: 0px 10px;
	padding-top: 2px;
	z-index: 2;
}

.message-item:focus {
	outline: none;
}

.message-author .avatar-box {
	background: #eee;
}

.message-item .message-body {
	max-width: 70%;
	border-radius: 15px;
	color: #fff;
	padding: 2px;
	position: relative;
}

.message-item .other.message-body {
	background-color: #999;
	margin-left: 5px;
}

.message-item .me.message-body {
	background-color: #36a7ee;
	margin-right: 5px;
}

.message-body .message-text {
    padding: 5px 10px;
	padding-bottom: 0px;
}

.message-date {
    padding: 0 10px;
	font-size: 12px;
	color: #d9ecf8;
}