<div class="flex jc-c">
    <main class="search flex fd-c">
        <div class="search-header flex jc-sb ai-c">
            <h2 class="fs-0">Пошук публікацій</h2>
            <div class="search-maker-wrapper">
                <app-search-maker [seed]="searchSeed"></app-search-maker>
            </div>
        </div>
        <div class="search-body">
            <ng-container *ngIf="wantedPosts; else loading">
                <ng-container *ngFor="let post of wantedPosts">
                    <app-post [me]="me" [post]="post" comments="none"></app-post>
                </ng-container>
            </ng-container>
            <ng-template #loading>
                <app-empty-post></app-empty-post>
                <app-empty-post withMedia="true"></app-empty-post>
                <app-empty-post></app-empty-post>
            </ng-template>
        </div>
    </main>
</div>
<div class="flex jc-fe">
   <div class="right-col">
      <ng-scrollbar>
        <app-trends></app-trends>
        <app-follow-offers></app-follow-offers>
      </ng-scrollbar>
    </div>
  </div>
  