<div class="flex jc-c">
  <main>
    <app-post-maker [me]="me"></app-post-maker>
    <ng-container *ngIf="posts; else empty_post">
      <ng-container *ngFor="let post of posts">
        <app-post [me]="me" [post]="post" comments="best"></app-post>
      </ng-container>
    </ng-container>
    <ng-template #empty_post>
      <app-empty-post></app-empty-post>
      <app-empty-post withMedia="true"></app-empty-post>
      <app-empty-post></app-empty-post>
    </ng-template>
  </main>
</div>
<div class="flex jc-fe">
  <div class="right-col">
    <ng-scrollbar>
      <app-trends></app-trends>
      <app-follow-offers></app-follow-offers>
    </ng-scrollbar>
  </div>
</div>
