main {
	width: 50%;
	min-width: 612px;
	margin: 54px 60px 0px 0px;
	box-sizing: border-box;
}

.right-col {
	position: fixed;
	/* right: 10%; */
	top: 69px;
	bottom: 15px;
	/* width: 18.5%; */
	width: 320px;
	z-index: 9;
	box-sizing: border-box;
}