:host {
    width: 100%;
	display: flex;
    justify-content: center;
}

.wrapper {
	width: 1224px;
}

main {
	width: 50%;
	margin-top: 54px;
	box-sizing: border-box;
}

.right-col {
	position: fixed;
	right: 10%;
	top: 69px;
	bottom: 15px;
	min-width: 220px;
	width: 18.5%;
	z-index: 9;
	box-sizing: border-box;
}