:host {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
	width: 47%;
	margin-top: 54px;
	box-sizing: border-box;
}

.right-col {
	position: fixed;
	background: #fff;
	border-top-left-radius: 15px;
	width: 25.7%;
	min-width: 270px;
	height: 100%;
	padding: 20px 15px 10px 30px;
	right: 0px;
	top: 64px;
	z-index: 9;
	box-sizing: border-box;
}